/*### White ### */
/*### Black ### */
/*### Grey ### */
/*### Beige ### */
/*### Rouge ### */
/*### Pea ### */
.category-page-container .catgeory-header {
  padding: 19px 0px 20px;
  font-family: Lato-Bold;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.9px;
  color: #4c4c4c;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px; }

.category-page-container #side-menu {
  margin-top: 14px; }
  .category-page-container #side-menu .discount {
    clear: both; }
  .category-page-container #side-menu #homesidebar_list {
    padding: 0px;
    font-family: Lato-Regular;
    font-size: 14px;
    line-height: 2.1;
    letter-spacing: 0.2px;
    color: #888888; }
    .category-page-container #side-menu #homesidebar_list .scarlet {
      background-color: #d0021b; }
    .category-page-container #side-menu #homesidebar_list .squash {
      background-color: #f5a623; }
    .category-page-container #side-menu #homesidebar_list .dark-sky-blue {
      background-color: #4a90e2; }
    .category-page-container #side-menu #homesidebar_list .apple-green {
      background-color: #7ed321; }
    .category-page-container #side-menu #homesidebar_list .violet {
      background-color: #bd10e0; }
    .category-page-container #side-menu #homesidebar_list .sun-yellow {
      background-color: #f8e71c; }
    .category-page-container #side-menu #homesidebar_list .white-four {
      background-color: #ffffff; }
    .category-page-container #side-menu #homesidebar_list .aqua-marine {
      background-color: #50e3c2; }
    .category-page-container #side-menu #homesidebar_list .vivid-purple {
      background-color: #9013fe; }
    .category-page-container #side-menu #homesidebar_list .sepia {
      background-color: #8b572a; }
    .category-page-container #side-menu #homesidebar_list .beige-three {
      background-color: #ede9b1; }
    .category-page-container #side-menu #homesidebar_list .greyish-brown-two {
      background-color: #4a4a4a; }
    .category-page-container #side-menu #homesidebar_list .purple {
      background-color: #581f8b; }
    .category-page-container #side-menu #homesidebar_list .black {
      background-color: #000000; }
    .category-page-container #side-menu #homesidebar_list .colors {
      width: 24px;
      height: 24px;
      border-radius: 2px;
      float: left;
      margin-right: 10px;
      margin-top: 10px;
      border: solid 1px #ebebeb; }
    .category-page-container #side-menu #homesidebar_list .checkbox-text {
      position: relative;
      top: -2px;
      left: 5px; }
    .category-page-container #side-menu #homesidebar_list .checkbox {
      width: 15px;
      height: 15px;
      border-radius: 2px;
      background-color: #f8f8f8;
      border: solid 1px #ebebeb;
      display: inline-block; }

.category-page-container .category-hamburger {
  position: relative;
  padding: 0px;
  margin-top: 5px;
  margin-right: 5px;
  display: block;
  background: none;
  border: none; }
  .category-page-container .category-hamburger .icon-bar {
    background: #981937;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-bottom: 3px; }
