/*### White ### */
/*### Black ### */
/*### Grey ### */
/*### Beige ### */
/*### Rouge ### */
/*### Pea ### */
.main-conatiner {
  border: 1px solid #888888; }

.category-container {
  background-color: #ffffff;
  border: solid 1px #ebebeb; }
  .category-container #side-menu {
    padding-left: 0px; }
    .category-container #side-menu .first-child .title {
      padding-top: 0px; }
    .category-container #side-menu .title {
      font-family: "Lato-Bold";
      font-size: 16px;
      line-height: 1.4;
      letter-spacing: 0.9px;
      color: #4c4c4c;
      margin: 0px;
      padding-top: 12px;
      padding-bottom: 13px; }
    .category-container #side-menu #homesidebar_list {
      padding: 0px;
      font-family: Lato-Regular;
      font-size: 14px;
      line-height: 2.1;
      letter-spacing: 0.2px; }
      .category-container #side-menu #homesidebar_list a {
        color: #888888; }

.homepage-container .category-container {
  height: 698px;
  min-height: 698px;
  padding-top: 21px; }
