/*### White ### */
/*### Black ### */
/*### Grey ### */
/*### Beige ### */
/*### Rouge ### */
/*### Pea ### */
.top-section {
  margin: 0px; }

.buyer-section {
  background-color: #ffffff;
  padding: 10px 0px 11px;
  text-align: center;
  border: solid 1px #ebebeb; }
  .buyer-section .buyer-text {
    font-family: Lato-Bold;
    font-size: 24px;
    line-height: 0.7;
    letter-spacing: 0.2px;
    color: #971937; }
    .buyer-section .buyer-text .secure-text {
      font-size: 14px;
      color: #888888; }
  .buyer-section .learn-text {
    font-size: 14px;
    color: #971937; }
  .buyer-section .buyer-icon {
    width: 28px;
    height: 30px;
    position: relative;
    top: -4px;
    left: -4px; }

.feed-title {
  margin-bottom: 19px;
  font-family: Lato-Regular;
  font-size: 22px;
  letter-spacing: 1.3px;
  color: #4c4c4c; }

.h-card {
  padding: 8px 15px 8px 0px;
  height: auto;
  overflow: hidden; }
  .h-card:last-child {
    padding-right: 0px; }
  .h-card a {
    display: block;
    width: 100%;
    height: 100%; }

.category-section {
  margin: 0px; }
  .category-section .feed-title {
    margin-top: 34px; }
  .category-section img {
    width: 100%;
    height: 150px;
    background-color: #d8d8d8; }

.deals-section {
  margin: 0px;
  padding: 0px 15px;
  margin: 0px; }
  .deals-section .feed-title {
    margin-top: 18px;
    margin-bottom: 17px; }
  .deals-section img {
    width: 100%;
    height: 220px;
    background-color: #d8d8d8; }

.popular-section {
  margin: 0px;
  padding: 0px 15px; }
  .popular-section .h-card:last-child {
    padding-right: 15px; }
  .popular-section .left-container {
    padding: 0px; }
  .popular-section .right-container {
    height: 455px;
    padding: 0px;
    margin-top: 72px; }
    .popular-section .right-container img {
      height: 455px; }
  .popular-section .row {
    margin: 0px; }
  .popular-section img {
    width: 100%;
    height: 220px;
    background-color: #d8d8d8; }

.love-section {
  margin: 0px;
  padding: 0px 15px; }
  .love-section img {
    width: 100%;
    height: 270px;
    background-color: #d8d8d8; }
