/*### White ### */
/*### Black ### */
/*### Grey ### */
/*### Beige ### */
/*### Rouge ### */
/*### Pea ### */
body {
  font-family: "Lato-Regular";
  font-size: 14px;
  line-height: 19px;
  background-color: #f0f0f0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.nopadding {
  padding: 0px !important; }

.craftsvilla-international {
  background-color: #eee4d1;
  height: 30px;
  min-height: 30px;
  margin-bottom: 0px;
  font-family: Lato-Regular;
  font-size: 14px;
  line-height: 1.6;
  color: #626262;
  border: none; }
  .craftsvilla-international .craftsvilla-international-navbar {
    position: relative;
    top: 3px; }
  .craftsvilla-international .call-icon {
    width: 15px;
    height: 15px; }
  .craftsvilla-international .right-section-international {
    text-align: right; }
  .craftsvilla-international a {
    color: #626262; }
    .craftsvilla-international a .download-icon {
      width: 8px;
      height: 15px; }

.craftsvilla-navbar {
  border: none;
  background-color: #f5f3e8;
  box-shadow: 0 1px 5px 0 #ebebeb;
  height: 78px;
  margin-bottom: 0px; }
  .craftsvilla-navbar .logo-container {
    padding-top: 27px;
    padding-bottom: 24px;
    height: auto; }
    .craftsvilla-navbar .logo-container img.brand {
      height: 27px; }
  .craftsvilla-navbar .autosuggest-section {
    margin-top: 23px;
    margin-bottom: 18px; }
  .craftsvilla-navbar .mobile-top {
    margin-top: 20px;
    margin-bottom: 19px; }
    .craftsvilla-navbar .mobile-top .icons {
      width: 19px;
      height: 17px;
      position: relative;
      top: -5px;
      margin-right: 12px; }

.svg-icons {
  position: relative;
  margin-right: 12px; }
  .svg-icons .mnotification {
    position: absolute;
    background-color: #981937;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    color: #f5f3e8;
    text-align: center;
    top: -13px;
    left: 12px; }

.right-section {
  list-style: none;
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 1.4;
  color: #981937;
  padding-right: 0px;
  text-align: right; }
  .right-section .cart-container {
    margin-top: 21px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px solid #e4d2be;
    height: auto;
    padding: 7px 13px 13px; }
    .right-section .cart-container .cart-icon {
      position: relative;
      top: 4px; }
    .right-section .cart-container .cart-text {
      margin-right: 7px; }
    .right-section .cart-container .notification {
      background: #981937;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      display: inline-block;
      color: #f5f3e8;
      text-align: center; }
  .right-section .wishlist {
    margin-top: 33px;
    margin-bottom: 20px; }
    .right-section .wishlist svg {
      width: 19px;
      height: 17px; }
  .right-section .account-section {
    margin-top: 33px;
    margin-bottom: 22px; }

#search_mini_form {
  margin: 0px; }
  #search_mini_form .text-holder {
    padding: 0px;
    margin-bottom: 0px; }
    #search_mini_form .text-holder .twitter-typeahead {
      width: 100%;
      background-color: #ffffff;
      border: 1px solid #e4d2be; }
  #search_mini_form .search-button {
    border-radius: 2px;
    background-color: #981937;
    font-family: "Lato-Bold";
    line-height: 1.6;
    letter-spacing: 1.5px;
    color: #ffffff;
    border: none; }

@media (max-width: 768px) {
  .craftsvilla-navbar {
    height: 56px; }
    .craftsvilla-navbar .mobile-navbar {
      padding: 9px 9px 5px 6px;
      border: none;
      margin: 13px 0px 17px; }
    .craftsvilla-navbar .logo-container {
      padding: 17px 47px 17px 0px; }
      .craftsvilla-navbar .logo-container img.brand {
        height: 22px; } }

@media (max-width: 320px) {
  .craftsvilla-navbar .logo-container {
    padding: 17px 12px 17px 0px; }
  .craftsvilla-navbar .mobile-top .icons {
    margin-right: 10px; }
  .craftsvilla-navbar .svg-icons {
    margin-right: 10px; } }
