/*### White ### */
/*### Black ### */
/*### Grey ### */
/*### Beige ### */
/*### Rouge ### */
/*### Pea ### */
.products-section {
  margin-top: 21px; }

.product {
  height: 414px; }
  .product .product-image-container {
    height: 306px; }
    .product .product-image-container .product-image {
      background-color: #d8d8d8;
      height: 306px;
      width: 100%;
      border: none; }

.product-details-container {
  background-color: #ffffff;
  height: 108px;
  padding: 8px 10px 0px 12px; }
  .product-details-container .product-name {
    font-family: Lato-Bold;
    font-size: 14px;
    line-height: 2.1;
    letter-spacing: 0.2px;
    color: #4c4c4c;
    height: 30px; }
  .product-details-container .vendor-name {
    height: 30px;
    font-family: Lato-Regular;
    font-size: 12px;
    line-height: 2.5;
    letter-spacing: 0.2px;
    color: #888888; }
  .product-details-container .price {
    height: 30px;
    font-family: Lato-Regular;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.2px; }
  .product-details-container .original-price {
    color: #888888; }
  .product-details-container .discounted-price {
    color: #4c4c4c; }
  .product-details-container .save-percent {
    height: 30px;
    font-family: Lato-Regular;
    font-size: 14px;
    line-height: 2.1;
    letter-spacing: 0.2px;
    color: #6da40e;
    text-align: right; }
