/*### White ### */
/*### Black ### */
/*### Grey ### */
/*### Beige ### */
/*### Rouge ### */
/*### Pea ### */
/* New typeahead css starts here */
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0; }

.tt-hint {
  display: block;
  width: 100%;
  height: auto;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #999;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.tt-dropdown-menu {
  min-width: 160px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; }

.tt-suggestion {
  display: block;
  line-height: 42px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .tt-suggestion p {
    margin: 0; }

.tt-suggestion.tt-cursor {
  color: #BAB9B6;
  background-color: #f7f7f7;
  cursor: pointer; }
  .tt-suggestion.tt-cursor a {
    color: #BAB9B6; }

.twitter-typeahead {
  display: block !important;
  position: absolute !important;
  width: 100%; }
  .twitter-typeahead #searchval {
    width: 100%;
    border-radius: 0px; }

.tt-highlight {
  color: #686868; }

.autosuggest-search {
  position: relative; }

.custom_results {
  overflow: hidden;
  position: relative;
  white-space: nowrap !important;
  text-overflow: ellipsis;
  margin-bottom: -1px;
  padding: 0px 15px 0 15px;
  text-decoration: none; }
  .custom_results .result_text {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #909090;
    float: left;
    display: inline-block;
    width: 80%; }
  .custom_results .result_type {
    float: right;
    text-transform: uppercase;
    color: #A6A6A6;
    font-size: 11px;
    width: 15%; }

.custom_results_image {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  height: 98px;
  padding: 15px 0 0 15px;
  position: relative;
  white-space: normal;
  width: auto; }
  .custom_results_image .result_text {
    padding-left: 10px;
    line-height: 21px; }
  .custom_results_image .result_image {
    background-color: #E6E6E6;
    background-position: center;
    background-size: cover;
    display: inline-block;
    height: 65px;
    width: 80px;
    float: left; }

.result_text .discount_price {
  color: #5B5B5B;
  font-weight: bold; }

@media screen and (max-width: 768px) {
  .tt-dropdown-menu {
    position: fixed !important;
    top: 40px !important;
    left: 50px !important; }
  .custom_results_image {
    height: auto !important;
    margin-bottom: 0px !important;
    padding: 0px 0px 0px 15px !important; }
    .custom_results_image .result_text {
      padding-left: 0px;
      line-height: 42px; }
  .result_type {
    font-size: 11px; }
  .tt-hint {
    padding: 4px; } }

@media screen and (max-width: 500px) {
  .tt-dropdown-menu {
    width: 69%; }
  .result_text {
    width: 60%; }
  .result_type {
    width: 30%; }
  #product_type {
    width: 30%; } }

@media screen and (min-width: 500px) and (max-width: 768px) {
  .tt-dropdown-menu {
    width: 82%; }
  .result_text {
    width: 80%; }
  .result_type {
    width: 13%; }
  #product_type {
    width: 15%; } }
