$font-family-base					: "Lato-Regular";
$font-family-base-bold				: "Lato-Bold";
$font-size-base						: 14px;
$line-height-base					: 19px;
$letter-spacing-base				: 0.2px;

// ###############  Color Palette  ############## //

/*### White ### */
$white: #f8f8f8;
$white-two: #d8d8d8;
$white-three: #f0f0f0;
$white-four: #ffffff;
$white-five: #d7d7d7;
$white-six: #ebebeb;
$white-seven: #f7f7f7;
$white-eight: #f4f4f4;


/*### Black ### */
$black: #ffffff;
$black-two: #262626;
$black-three: #1a1a1a;

/*### Grey ### */
$greyish-brown: #4c4c4c;
$warm-grey: #888888;
$brownish-grey: #626262;
$greyish-brown-two: #4a4a4a;
$greyish-brown-three: #424242;
$greyish-brown-four: #4f4f4f;
$greyish-brown-five: #565656;
$warm-grey-two: #7a7a7a;
$warm-grey-three: #949494;
$pale-grey: #ebf6fa;


/*### Beige ### */
$beige: #eee4d1;
$beige-two: #f5f3e8;
$beige-four: #f5f3e7;
$beige-five: #e4d2be;


/*### Rouge ### */
$rouge: #981937;
$rouge-two: #971937;
$rouge-three: #9d2440;

/*### Pea ### */
$pea-green: #6da40e;
