/********************************/
/*       Fade Bs-carousel       */
/********************************/
@import 'basic';
.carousel-section {
	margin-top: 21px;
}
.fade-carousel {
	position: relative;
	height: 325px;
}
.fade-carousel .carousel-inner .item {
	height: 325px;
}
.fade-carousel .carousel-indicators > li {
	margin: 0 2px;
	background-color: #f39c12;
	border-color: #f39c12;
	opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-color: $white-two;
}
.fade-carousel .slides .slide-2 {
  background-color: $white-two;
}
.fade-carousel .slides .slide-3 {
  background-color: $white-two;
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
	.hero { width: 980px; }
}
@media screen and (max-width: 640px){
	.hero h1 { font-size: 4em; }
}

.row.vdivide {
	margin: 0px;
}
.row.vdivide [class*='col-']:not(:last-child):after {
	background: #e0e0e0;
	width: 1px;
	content: "";
	display:block;
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
}

.carousel-selectors {
	text-align: center;
	background: $white-four;
	padding: 14px 0px 8px;
	cursor: pointer;
	.carousel-text {
		font-family: Lato-Regular;
		font-size: 14px;
		line-height: 1.5;
		color: $greyish-brown-five;
	}
}
