@import 'basic';
.main-conatiner {
	border: 1px solid $warm-grey;
}
.category-container {
	background-color: $white-four;
	border: solid 1px $white-six;
	#side-menu {
		padding-left: 0px;
		.first-child {
			.title {
				padding-top: 0px;
			}
		}
		.title {
			font-family: $font-family-base-bold;
			font-size: 16px;
			line-height: 1.4;
			letter-spacing: 0.9px;
			color: $greyish-brown;
			margin: 0px;
			padding-top: 12px;
			padding-bottom: 13px;
		}
		#homesidebar_list {
			padding: 0px;
			font-family: Lato-Regular;
			font-size: 14px;
			line-height: 2.1;
			letter-spacing: 0.2px;
			a {
				color: $warm-grey;
			}
		}
	}
}
.homepage-container {
	.category-container {
		height: 698px;
		min-height: 698px;
		padding-top: 21px;
	}
}
