@import 'basic';
.category-page-container {
	.catgeory-header {
		padding: 19px 0px 20px;
		font-family: Lato-Bold;
		font-size: 16px;
		line-height: 1.4;
		letter-spacing: 0.9px;
		color: $greyish-brown;
		border-bottom: 1px solid $white-six;
		padding-bottom: 10px;
	}
	#side-menu {
		margin-top: 14px;
		.discount {
			clear: both;
		}
		#homesidebar_list {
			.scarlet {
				background-color: #d0021b;
			}
			.squash {
				background-color: #f5a623;
			}
			.dark-sky-blue {
				background-color: #4a90e2;
			}
			.apple-green {
				background-color: #7ed321;
			}
			.violet {
				background-color: #bd10e0;
			}
			.sun-yellow {
				background-color: #f8e71c;
			}
			.white-four {
				background-color: #ffffff;
			}
			.aqua-marine {
				background-color: #50e3c2;
			}
			.vivid-purple {
				background-color: #9013fe;
			}
			.sepia {
				background-color: #8b572a;
			}
			.beige-three {
				background-color: #ede9b1;
			}
			.greyish-brown-two {
				background-color: #4a4a4a;
			}
			.purple {
				background-color: #581f8b;
			}
			.black {
				background-color: #000000;
			}

			.colors {
				width: 24px;
				height: 24px;
				border-radius: 2px;
				float: left;
				margin-right: 10px;
				margin-top: 10px;
				border: solid 1px $white-six;
			}
			padding: 0px;
			font-family: Lato-Regular;
			font-size: 14px;
			line-height: 2.1;
			letter-spacing: 0.2px;
			color: $warm-grey;
			.checkbox-text {
				position: relative;
				top: -2px;
				left: 5px;
			}
			.checkbox {
				width: 15px;
				height: 15px;
				border-radius: 2px;
				background-color: $white;
				border: solid 1px $white-six;
				display: inline-block;
			}
		}
	}
	.category-hamburger {
		position: relative;
		padding: 0px;
		margin-top: 5px;
		margin-right: 5px;
		display: block;
		background: none;
		border: none;
		.icon-bar {
			background: $rouge;
			display: block;
			width: 22px;
			height: 2px;
			border-radius: 1px;
			margin-bottom: 3px;
		}
	}
}
