@import 'basic';
.top-section {
	margin: 0px;
}
.buyer-section {
	background-color: $white-four;
	padding: 10px 0px 11px;
	text-align: center;
	border: solid 1px $white-six;
	.buyer-text {
		font-family: Lato-Bold;
		font-size: 24px;
		line-height: 0.7;
		letter-spacing: 0.2px;
		color: $rouge-two;
		.secure-text {
			font-size: 14px;
			color: $warm-grey;
		}
	}
	.learn-text {
		font-size: 14px;
		color: $rouge-two;
	}
	.buyer-icon {
		width: 28px;
		height: 30px;
		position: relative;
		top: -4px;
		left: -4px;
	}
}
.feed-title {
	margin-bottom: 19px;
	font-family: Lato-Regular;
	font-size: 22px;
	letter-spacing: 1.3px;
	color: $greyish-brown;
}
.h-card {
	padding: 8px 15px 8px 0px;
	height: auto;
	overflow: hidden;
	&:last-child {
		padding-right: 0px;
	}
	a {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.category-section {
	margin: 0px;
	.feed-title {
		margin-top: 34px;
	}
	img {
		width: 100%;
		height: 150px;
		background-color: $white-two;
	}
}
.deals-section {
	margin: 0px;
	padding: 0px 15px;
	margin: 0px;
	.feed-title {
		margin-top: 18px;
		margin-bottom: 17px;
	}
	img {
		width: 100%;
		height: 220px;
		background-color: $white-two;
	}
}
.popular-section {
	margin: 0px;
	padding: 0px 15px;
	.h-card {
		&:last-child {
			padding-right: 15px;
		}
	}
	.left-container {
		padding: 0px;
	}
	.right-container {
		height: 455px;
		padding: 0px;
		margin-top: 72px;
		img {
			height: 455px;
		}
	}
	.row {
		margin: 0px;
	}
	img {
		width: 100%;
		height: 220px;
		background-color: $white-two;
	}
}
.love-section {
	margin: 0px;
	padding: 0px 15px;
	img {
		width: 100%;
		height: 270px;
		background-color: $white-two;
	}
}
