@import 'basic';

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	background-color: $white-three;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
.nopadding {
	padding: 0px !important;
}
.craftsvilla-international {
	background-color: $beige;
	height: 30px;
	min-height: 30px;
	margin-bottom: 0px;
	font-family: Lato-Regular;
	font-size: 14px;
	line-height: 1.6;
	color: $brownish-grey;
	border: none;
	.craftsvilla-international-navbar {
		position: relative;
		top: 3px;
	}
	.call-icon {
		width: 15px;
		height: 15px;
	}
	.right-section-international {
		text-align: right;
	}
	a {
		color: $brownish-grey;
		.download-icon {
			width: 8px;
			height: 15px;
		}
	}
}
.craftsvilla-navbar {
	border: none;
	background-color: $beige-two;
	box-shadow: 0 1px 5px 0 $white-six;
	height: 78px;
	margin-bottom: 0px;
	.logo-container {
		padding-top: 27px;
		padding-bottom: 24px;
		height: auto;
			img.brand {
				height: 27px;
			}
	}
	.autosuggest-section {
		margin-top: 23px;
		margin-bottom: 18px;
	}
	.mobile-top {
		margin-top: 20px;
		margin-bottom: 19px;
		.icons {
			width: 19px;
			height: 17px;
			position: relative;
			top: -5px;
			margin-right: 12px;
		}
	}
}
.svg-icons {
	position: relative;
	margin-right: 12px;
	.mnotification {
		position: absolute;
		background-color: $rouge;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		display: inline-block;
		color: $beige-two;
		text-align: center;
		top: -13px;
    	left: 12px;
	}
}
.right-section {
	list-style: none;
	font-family: $font-family-base;
	font-size: 16px;
	line-height: 1.4;
	color: $rouge;
	padding-right: 0px;
	text-align: right;
	.cart-container {
		margin-top: 21px;
		margin-bottom: 10px;
		border-radius: 2px;
  		border: 1px solid $beige-five;
	    height: auto;
    	padding: 7px 13px 13px;
    	.cart-icon {
    		position: relative;
    		top: 4px;
    	}
    	.cart-text {
    		margin-right: 7px;
    	}
    	.notification {
    		background: $rouge;
    		width: 21px;
    		height: 21px;
    		border-radius: 50%;
			display: inline-block;
			color: $beige-two;
			text-align: center;
    	}
	}
	.wishlist {
	    margin-top: 33px;
		margin-bottom: 20px;
		svg {
			width: 19px;
			height: 17px;
		}
	}
	.account-section {
		margin-top: 33px;
		margin-bottom: 22px;
	}
}

#search_mini_form {
	margin: 0px;
	.text-holder {
		padding: 0px;
		margin-bottom: 0px;
		.twitter-typeahead {
			width: 100%;
			background-color: $white-four;
  			border: 1px solid $beige-five;
		}
	}
	.search-button {
		border-radius: 2px;
		background-color: $rouge;
		font-family: $font-family-base-bold;
		line-height: 1.6;
		letter-spacing: 1.5px;
		color: $white-four;
		border: none;
	}
}
@media (max-width: 768px) {
	.craftsvilla-navbar {
		height: 56px;
		.mobile-navbar {
			padding: 9px 9px 5px 6px;
			border: none;
			margin: 13px 0px 17px;
		}
		.logo-container {
			padding: 17px 47px 17px 0px;
			img.brand {
				height: 22px;
			}
		}
	}
}
@media (max-width: 320px) {
	.craftsvilla-navbar {
		.logo-container {
			padding: 17px 12px 17px 0px;
		}
		.mobile-top {
			.icons {
				margin-right: 10px;
			}
		}
		.svg-icons {
			margin-right: 10px;
		}

	}
}
