// Animations
@mixin animation($animation) {
  -webkit-animation: $animation;
       -o-animation: $animation;
          animation: $animation;
}
@mixin animation-name($name) {
  -webkit-animation-name: $name;
          animation-name: $name;
}
@mixin animation-duration($duration) {
  -webkit-animation-duration: $duration;
          animation-duration: $duration;
}
@mixin animation-timing-function($timing-function) {
  -webkit-animation-timing-function: $timing-function;
          animation-timing-function: $timing-function;
}
@mixin animation-delay($delay) {
  -webkit-animation-delay: $delay;
          animation-delay: $delay;
}
@mixin animation-iteration-count($iteration-count) {
  -webkit-animation-iteration-count: $iteration-count;
          animation-iteration-count: $iteration-count;
}
@mixin animation-direction($direction) {
  -webkit-animation-direction: $direction;
          animation-direction: $direction;
}
@mixin animation-fill-mode($fill-mode) {
  -webkit-animation-fill-mode: $fill-mode;
          animation-fill-mode: $fill-mode;
}

/* Transforms */

@mixin transform($args) {
  -webkit-transform: $args;
     -moz-transform: $args;
      -ms-transform: $args;
       -o-transform: $args;
          transform: $args;
}
@mixin scale($ratio) {
  -webkit-transform: ($ratio);
      -ms-transform: scale($ratio); // IE9 only
       -o-transform: scale($ratio);
          transform: scale($ratio);
}
@mixin scale($ratioX, $ratioY) {
  -webkit-transform: scale($ratioX, $ratioY);
      -ms-transform: scale($ratioX, $ratioY); // IE9 only
       -o-transform: scale($ratioX, $ratioY);
          transform: scale($ratioX, $ratioY);
}
@mixin scaleX($ratio) {
  -webkit-transform: scaleX($ratio);
      -ms-transform: scaleX($ratio); // IE9 only
       -o-transform: scaleX($ratio);
          transform: scaleX($ratio);
}
@mixin scaleY($ratio) {
  -webkit-transform: scaleY($ratio);
      -ms-transform: scaleY($ratio); // IE9 only
       -o-transform: scaleY($ratio);
          transform: scaleY($ratio);
}
@mixin skew($x, $y) {
  -webkit-transform: skewX($x) skewY($y);
      -ms-transform: skewX($x) skewY($y); // See https://github@mixin com/twbs/bootstrap/issues/4885; IE9+
       -o-transform: skewX($x) skewY($y);
          transform: skewX($x) skewY($y);
}
@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
      -ms-transform: translate($x, $y); // IE9 only
       -o-transform: translate($x, $y);
          transform: translate($x, $y);
}
@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
          transform: translate3d($x, $y, $z);
}
@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
      -ms-transform: rotate($degrees); // IE9 only
       -o-transform: rotate($degrees);
          transform: rotate($degrees);
}
@mixin rotateX($degrees) {
  -webkit-transform: rotateX($degrees);
      -ms-transform: rotateX($degrees); // IE9 only
       -o-transform: rotateX($degrees);
          transform: rotateX($degrees);
}
@mixin rotateY($degrees) {
  -webkit-transform: rotateY($degrees);
      -ms-transform: rotateY($degrees); // IE9 only
       -o-transform: rotateY($degrees);
          transform: rotateY($degrees);
}
@mixin transform-origin($args){
    -webkit-transform-origin: $args;
       -moz-transform-origin: $args;
        -ms-transform-origin: $args;
         -o-transform-origin: $args;
            transform-origin: $args;
}
@mixin transform-style($args){
    -webkit-transform-style: $args;
       -moz-transform-style: $args;
        -ms-transform-style: $args;
         -o-transform-style: $args;
            transform-style: $args;
}
@mixin translateHardware($x,$y){
    @include translate($x,$y);
    -webkit-transform: translate3d($x,$y,0);
    -moz-transform: translate3d($x,$y,0);
}

@mixin transition($transition) {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}
@mixin transition-property($transition-property) {
  -webkit-transition-property: $transition-property;
          transition-property: $transition-property;
}
@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
          transition-delay: $transition-delay;
}
@mixin transition-duration($transition-duration) {
  -webkit-transition-duration: $transition-duration;
          transition-duration: $transition-duration;
}
@mixin transition-timing-function($timing-function) {
  -webkit-transition-timing-function: $timing-function;
          transition-timing-function: $timing-function;
}
@mixin transition-transform($transition) {
  -webkit-transition: -webkit-transform $transition;
     -moz-transition: -moz-transform $transition;
       -o-transition: -o-transform $transition;
          transition: transform $transition;
}

@mixin vertical($startColor: #555, $endColor: #333) {
  background-image: -moz-linear-gradient(top, $startColor, $endColor); // FF 3@mixin 6+
  background-image: -webkit-linear-gradient(top, $startColor, $endColor); // Safari 5@mixin 1+, Chrome 10+
  background-image: -o-linear-gradient(top, $startColor, $endColor); // Opera 11@mixin 10
  background-image: linear-gradient(to bottom, $startColor, $endColor); // Standard, IE10
  background-repeat: repeat-x;
  filter: e(%("progid:DXImageTransform@mixin Microsoft@mixin gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb($startColor),argb($endColor))); // IE9 and down
}

@mixin gradient($default: #F5F5F5, $start: #EEE, $stop: #FFF) {
  @include linear-gradient-top($default,$start,0%,$stop,100%);
}

@mixin linear-gradient-top($default,$color1,$stop1,$color2,$stop2){
  $ieColor1:argb($color1);
  $ieColor2:argb($color2);
  background-color: $default;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop($stop1, $color1), color-stop($stop2 $color2));
  background-image: -webkit-linear-gradient(top, $color1 $stop1, $color2 $stop2);
  background-image: -moz-linear-gradient(top, $color1 $stop1, $color2 $stop2);
  background-image: -webkit-gradient(linear, $stop1, $stop2, from($color1), to($color2)); // copied from bootstrap
  background-image: -ms-linear-gradient(top, $color1 $stop1, $color2 $stop2);
  background-image: -o-linear-gradient(top, $color1 $stop1, $color2 $stop2);
  background-image: linear-gradient(top, $color1 $stop1, $color2 $stop2);
  filter: e(%("progid:DXImageTransform@mixin Microsoft@mixin gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",$ieColor1,$ieColor2)); // IE9 and down
  background-repeat: repeat-x;
}

@mixin repeating-linear-gradient($angle,$color1,$width1,$color2,$width2){
  background: -webkit-repeating-linear-gradient( $angle, $color1, $color1 $width1, $color2 $width1, $color2 $width2 );
  background: -moz-repeating-linear-gradient( $angle, $color1, $color1 $width1, $color2 $width1, $color2 $width2 );
  background: -o-repeating-linear-gradient( $angle, $color1, $color1 $width1, $color2 $width1, $color2 $width2 );
  background: repeating-linear-gradient( $angle, $color1, $color1 $width1, $color2 $width1, $color2 $width2 );
}

/* Border Radius */

@mixin border-radius($radius) {
  border-radius: $radius;
}
@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
   border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
     border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
   border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
     border-top-left-radius: $radius;
}


/* Box Shadows */
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow; // iOS <4@mixin 3 & Android <4@mixin 1
          box-shadow: $shadow;
}
@mixin inner-shadow($args) {
    @include box-shadow(inset $args);
}


/* Box Sizing */

@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}
@mixin border-box(){
    @include box-sizing(border-box);
}
@mixin content-box(){
    @include box-sizing(content-box);
}

/* Background Size */

@mixin background-size($args) {
    -webkit-background-size: $args;
    background-size: $args;
}

/* Size */

@mixin size($width, $height) {
  width: $width;
  height: $height;
}
@mixin square($size) {
  @include size($size, $size);
}

// Center-align a block level element
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Clearfix

@mixin clearfix() {
  &:after,&:before {
    content: '';
    display: block;
    clear: both;
  }
}

// to make vertical-align: middle work
@mixin middlefix(){
  white-space: nowrap;
  &:before{
    content: '';
    vertical-align: middle;
    min-height: inherit;
    height: 100%;
    display: inline-block;
    width: 0;
  }
}

// Placeholder text
@mixin placeholder($color: $placeholderText) {
  &:-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}

// Text overflow
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin opacity($factor){
    opacity: $factor;
}

@mixin text-shadow($args){
    text-shadow: $args;
}

@mixin background-clip($clip) {
  -webkit-background-clip: $clip;
          background-clip: $clip;
}

// User select
// For selecting text on the page
@mixin user-select($select) {
  -webkit-user-select: $select;
     -moz-user-select: $select;
      -ms-user-select: $select; // IE10+
          user-select: $select;
}

// Reset filters for IE
@mixin reset-filter() {
  filter: e(%("progid:DXImageTransform@mixin Microsoft@mixin gradient(enabled = false)"));
}

// Useful for background images

@mixin background-image ($size: cover, $position: center, $repeat: no-repeat) {
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
}

// $hdr : ~"(-webkit-min-device-pixel-ratio: 1@mixin 5), (min--moz-device-pixel-ratio: 1@mixin 5), (-o-min-device-pixel-ratio: 1@mixin 5/1), (min-device-pixel-ratio: 1@mixin 5), (min-resolution: 144dpi), (min-resolution: 1@mixin 5dppx)";
// @mixin background-image-ret ($normal) {
//   background-image: image-url($normal);
//   $media $hdr {
//     background-image: image-url(replace($normal, "(\@mixin [^\@mixin ]+$)", "$2x$1"));
//   }
// }
// @mixin background-image-ret ($normal, $retina) {
//   @mixin background-image-ret($normal);
// }

// .background-image-retina-size($normal,$retina,$size) {
//   background-image: image-url($normal);
//   background-size: $size;
//   $media
//   only screen and (-webkit-min-device-pixel-ratio: 2),
//   only screen and (   min--moz-device-pixel-ratio: 2),
//   only screen and (     -o-min-device-pixel-ratio: 2/1),
//   only screen and (        min-device-pixel-ratio: 2),
//   only screen and (                min-resolution: 192dpi),
//   only screen and (                min-resolution: 2dppx) {
//     background-image: image-url($retina);
//   }
// }

@mixin pos-abs(){
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin zoom-in-cursor(){
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
// COMPONENT MIXINS
@mixin nav-divider($top: #e5e5e5, $bottom: $white) {
  *width: 100%;
  height: 1px;
  margin: (($baseLineHeight / 2) - 1) 1px; // 8px 1px
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: $top;
  border-bottom: 1px solid $bottom;
}

// Reset filters for IE
@mixin reset-filter() {
  filter: e(%("progid:DXImageTransform@mixin Microsoft@mixin gradient(enabled = false)"));
}

@mixin cover-child($gap: 0){
  position: absolute;
  top: $gap;
  left: $gap;
  right: $gap;
  bottom: $gap;
}

@mixin hide-text(){
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}



