@import 'basic';
.products-section {
	margin-top: 21px;
}
.product {
	height: 414px;
	.product-image-container {
		height: 306px;
		.product-image {
			background-color: $white-two;
			height: 306px;
			width: 100%;
			border: none;
		}
	}
}
.product-details-container {
	background-color: $white-four;
	height: 108px;
	padding: 8px 10px 0px 12px;
	.product-name {
		font-family: Lato-Bold;
		font-size: 14px;
		line-height: 2.1;
		letter-spacing: 0.2px;
		color: $greyish-brown;
		height: 30px;
	}
	.vendor-name {
		height: 30px;
		font-family: Lato-Regular;
		font-size: 12px;
		line-height: 2.5;
		letter-spacing: 0.2px;
		color: $warm-grey;
	}
	.price {
		height: 30px;
		font-family: Lato-Regular;
		font-size: 16px;
		line-height: 1.9;
		letter-spacing: 0.2px;
	}
	.original-price {
		color: $warm-grey;
	}
	.discounted-price {
		color: $greyish-brown;
	}
	.save-percent {
		height: 30px;
		font-family: Lato-Regular;
		font-size: 14px;
		line-height: 2.1;
		letter-spacing: 0.2px;
		color: $pea-green;
		text-align: right;
	}
}
